.active{
	background-color:white !important;
}

body{
	margin:0;
}

#content{
	background-color:#fff7dc;
	display:none;
	height:0%;
	position:relative;
	transition:height,1.5s;
}

#content>div{
	background-color:#fff7dc;
	height:90%;
	margin:auto;
	position:relative;
	top:5%;
	width:60%;
}

#content>div>.segment{
	display:none;
}

div.navBulletsWrapper{
	display:none !important;
}

#footer{
	background-color:#616161;
	height:10%;
	position:relative;
}

#footer>span{
	color:white;
	font-family:Poppins;
	left:45%;
	position:absolute;
	top:48%;
}

#header{
	background-color:#ff8f50;
	height:90%;
	position:relative;
	transition:height,1.5s;
}

#header>button{
	font-size:2rem !important;
	left:20%;
	position:absolute;
	top:65%;
}

#header>div{
	height: 77%;
	left: 54%;
	position: absolute;
	top: 7%;
	width: 43%;
}

#header>span{
	color:white;
	font-family:Poppins;
	font-size:2rem;
	font-weight:900;
	left: 8%;
	position: absolute;
	top:35%;
	transition:font-size 1.5s,top 1.5s;
}

#header ul{
	color:white;
	left:51%;
	position:relative;
	top:90%;
	transition:top,1.5s;
}

#header li{
	float:left;
	font-family:Poppins;
	font-size:1.17rem;
	list-style:none;	
	margin-right:2%;
	transition:padding 0.5s,font-size 0.5s;
}

#header li:hover{
	border-bottom:2px solid white;
	font-size:1.18rem;
	padding:3px;
}

.item{
	font-family:Poppins !important;
}

/*#news_content{
	display:none;
	height:100%;
	width:100%;
}*/

/*#news_content>div{
	border-bottom:1px solid black;
	height:7%;
	width:80%;
}*/

.news_info{
	border-bottom:1.5px solid black;
	font-family:Poppins;
	font-size:1rem;
	padding-top:25px;
}

.segment{
	background-color:white !important;
}

.show{
	display:block !important;
}
