.active{
	background-color:white !important;
}

.admission{
	color:black;
	display:none;
	font-family:Poppins;
	font-size:1rem;
	font-weight:700;
	margin-top:20px;
	padding:3px;
	padding-left:5px;
	position:relative;
	top:0px;
}

body{
	margin:0;
}
/******news*******/

.column[data='news'] .news{
	display:block;
}

/********admission********/

.column[data='admission'] .admission{
	display:block;
}

/********scholarship********/

.column[data='scholarship'] .scholarship{
	display:block;
}

/**********employment**********/

.column[data='employment'] .employment{
	display:block;
}

#content{
	background-color:#80CBC4;
	display:none;
	height:0%;
	position:relative;
	transition:height,1.5s;
}

#content>div{
	background-color:#80CBC4;
	height:90%;
	margin:auto;
	position:relative;
	top:5%;
	width:80%;
}

#content>div>.segment{
	display:none;
}

.employment{
	color:black;
	display:none;
	font-family:Poppins;
	font-size:1rem;
	font-weight:700;
	margin-top:20px;
	padding:3px;
	padding-left:5px;
	position:relative;
	top:0px;
}

#footer{
	background-color:#2f2e2e;
	height:10%;
	position:relative;
}

#footer>span{
	color:white;
	font-family:Poppins;
	left:44%;
	position:absolute;
	top:48%;
}

#header{
	background-color:#546E7A;
	height:90%;
	position:relative;
	transition:height,0.5s;
}
/*******header home state*******/
#header[data-state=home]{
	height:90%!important;
}

#header[data-state=home]>button{
	display:block!important;
}

#header[data-state=home]+#content{
	display:none!important;
	height:0%!important;
}

#header[data-state=home]>div{
	display:block!important;
}

#header[data-state=home]>span{
	font-size:2rem!important;
	top:35%!important;
}

#header[data-state=home] ul{
	top:90%!important;
}
/******header main state******/
#header[data-state=main]{
	height:15%!important;
}

#header[data-state=main]>button{
	display:none!important;
}

#header[data-state=main]+#content{
	display:block!important;
	height:105%!important;
}

#header[data-state=main]>div{
	display:none!important;
}

#header[data-state=main]>span{
	font-size:1.8rem!important;
	top:20%!important;
}

#header[data-state=main] ul{
	top:65%!important;
}

#header>button{
	font-size:2rem !important;
	left:45%;
	position:absolute;
	top:65%;
}

#header>div{
	height: 587px;
	left: 54%;
	position: absolute;
	top: 7%;
	width: 415px;
}

#header>span{
	color:white;
	font-family:Poppins;
	font-size:2rem;
	font-weight:900;
	left: 30%;
	position: absolute;
	top:35%;
	text-align:center;
	transition:font-size 0.5s,top 0.5s;
	width:40%;
}

#header ul{
	color:white;
	left:51%;
	position:relative;
	top:90%;
	transition:top,0.5s;
	width:45%;
}

#header li{
	float:left;
	font-family:Poppins;
	font-size:1.17rem;
	list-style:none;	
	margin-right:2%;
	transition:padding 0.3s,font-size 0.3s;
}

#header li:hover{
	border-bottom:2px solid white;
	font-size:1.18rem;
	padding:3px;
}

.info{
	top:0px;
}

.info:hover{
	color:#F44336;
	transition:color 0.2s;
}

.item{
	font-family:Poppins !important;
	font-weight:700 !important;
}

.news{
	color:black;
	display:none;
	font-family:Poppins;
	font-size:1rem;
	font-weight:700;
	margin-top:20px;
	padding:3px;
	padding-left:5px;
	position:relative;
	top:0px;
}

.scholarship{
	color:black;
	display:none;
	font-family:Poppins;
	font-size:1rem;
	font-weight:700;
	margin-top:20px;
	padding:3px;
	padding-left:5px;
	position:relative;
	top:0px;
}
/***** menu content *****/ 
.top[data-content=announce]~#announce_content{
	display:block !important;
}

.top[data-content=research]~#research_content{
	display:block !important;
}

.top[data-content=about]~#about_content{
	display:block !important;
}

.top[data-content=people]~#people_content{
	display:block !important;
}

.top[data-content=students]~#students_content{
	display:block !important;
}

.top[data-content=links]~#links_content{
	display:block !important;
}

/*******semantic*******/
.segment{		
	background-color:white !important;
}

.width_fit{
	width:auto !important;
}
